{{ define "main" }}

{{ $teaserOnly := (lt now .PublishDate) }}

{{ if .Params.Cover }}
<figure class="post-cover">
    <img src="{{ .Params.Cover | absURL }}" alt="{{ .Title }}" />

    {{ if .Params.CoverCaption }}
    <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
    {{ end }}
</figure>
{{ end }}

<div class="post-info">
    {{ if .IsTranslated }}
    {{ if not .Params.hidelanguage }}
    {{ range .Translations }}
    {{ i18n "postAvailable" }}
    <a href="{{ .Permalink }}"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
    {{ end}}
    {{ end }}
    {{ end }}
</div>

{{ if $teaserOnly }}
<main class="post">
    <div class="modal-overlay">
        <div class="teaser-only-box">
            <h2>ACTIVE BOX</h2>
            <hr>
            <p>This box is <strong>currently active</strong>, so the walkthrough cannot be displayed.</p>
            <p>Please <strong>wait for the retire date</strong> to view this walkthrough</p>
            <div class="svg-container">
                <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H64C28.7 64 0 92.7 0 128v16 48V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V192 144 128c0-35.3-28.7-64-64-64H344V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H152V24zM48 192h80v56H48V192zm0 104h80v64H48V296zm128 0h96v64H176V296zm144 0h80v64H320V296zm80-48H320V192h80v56zm0 160v40c0 8.8-7.2 16-16 16H320V408h80zm-128 0v56H176V408h96zm-144 0v56H64c-8.8 0-16-7.2-16-16V408h80zM272 248H176V192h96v56z"/>
                </svg>
            </div>
            <p>Retires {{ .PublishDate.Format "2006-01-02 15:04" }}</p>
        </div>
    </div>
</main>
{{ else }}

<main class="post">

    <article class="post-article">

        {{ if .Params.toc }}
        <div class="article-nav">
            <aside id="toc">
                <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                <hr/>
                {{ .TableOfContents }}
            </aside>
        </div>
        {{ end }}

        <div class="article-text">

            {{ partial "titleblock" . }}

            <!-- {{if .Params.hideTitle }}
            {{ else }}
            <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
            {{ end }}

            <div class="post-info">
                {{ partial "tags.html" .Params.tags }}
                {{ partial "categories.html" . }}
                {{- if .GitInfo }}
                <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg><a href="{{ .Site.Params.gitUrl -}}{{ .GitInfo.Hash }}" target="_blank" rel="noopener">{{ .GitInfo.AbbreviatedHash }}</a> @ {{ if .Site.Params.dateformNum }}{{ dateFormat .Site.Params.dateformNum .GitInfo.AuthorDate.Local }}{{ else }}{{ dateFormat "2006-01-02" .GitInfo.AuthorDate.Local }}{{ end }}</p>
                {{- end }}
                <br>
            </div> -->

            <div class="post-content">
                {{ .Content }}
            </div>

            {{ partial "signature" . }}

        </div>

    </article>

    <hr />
</main>
{{ end }}
{{ end }}
