.lessons-image {
    float: right;
    margin: 2.0rem 0 1.5rem 1.5rem;
}

.lessons-container {
    margin: 2rem 0;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 1rem;
    &.attacker {
        background-color: $color-red-bg;
        border: 6px solid $color-red-primary;
    }
    &.defender {
        background-color: $color-blue-bg;
        border: 6px solid $color-blue-primary;
    }
    ul {
        margin-left: -0.5rem;
        padding: 1rem;
        li {
            padding-bottom: 1rem;
        }
    }
    @media screen and (max-width: 684px) {
        padding: 0.25rem 0.5rem 0.5rem 0.5rem;
        ul {
            margin-left: -0.25rem;
            li {
                padding-bottom: 0.5rem;
            }
        }
    }
}
