.icon-search{
    fill: $dark-color;
    vertical-align: middle;
    font-size: 1.5rem;
    display: inherit;
    &:hover {
        opacity: 0.8;
    }
    order: 1;
    //margin: 0 1rem; // Momved this to _header.scss
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    > * {
        margin: 6px;
    }
}

.search-form-container {
    margin: 1rem 30px;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-items: end;
    height: 100%;
    flex: 1;
}

form#search{

    .form-row > * {
        border-radius: 0.5rem;
    }

    input {
        padding: 0.5rem;
    }
    input#search-input {
        background-color: $dark-background;
        color: $dark-color;
        width: 80%;
    }
    button#search-button {
        background-color: $dark-background;
        color: $dark-color;
        border: 3px solid $dark-color;
        fill: $dark-color;
    }
}

.search-separator {
    margin: 1.5rem auto;
}

#results {

    >* {
        display: block;
        text-align: left;
        text-decoration: none;
        margin: 0.5rem 0;
        padding: 1.0rem;
        background-color: $dark-background-secondary;

        .search-result-title {
            text-decoration: underline;
            margin: 0 0 0.5rem 0;
        }
        .search-result-category {
            position: relative;
            float: right;
            top: -1.75rem;
        }
        .search-result-content {
            font-weight: lighter;
            font-size: 0.85rem;
            text-align: justify;
        }
        .result-quote {
            font-style: italic;
            &::before, &::after {
                content: '"';
            }
        }
    }
}
