@charset "UTF-8";

/* Light theme color  - override as DARK*/
$light-background: #232425;
$light-background-secondary: #3b3d42;
$light-background-header: #1b1c1d;
$light-color: #a9a9b3;
$light-color-variant: white;
$light-color-secondary: #b3b3bd;
$light-border-color: #4e4e57;
$light-table-color: #4e4e57;

/* Dark theme colors */
$dark-background: #232425;
$dark-background-secondary: #3b3d42;
$dark-background-header: #1b1c1d;
$dark-color: #a9a9b3;
$dark-color-variant: white;
$dark-color-secondary: #b3b3bd;
$dark-border-color: #4e4e57;
$dark-table-color: #4e4e57;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

$color-green-primary: rgba(159, 240, 0, 0.95);
$color-green-bg: rgba(32,48,0,0.5);

$color-red-primary: rgba(124,38,38,0.5);
$color-red-bg: rgba(53,32,32,0.5);

$color-blue-primary: rgba(38,38,124,0.5);
$color-blue-bg: rgba(32,32,53,0.5);

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
// $max-width: 860px;
$max-width: 1200px;
